<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NavegacionBetin.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>850D30FE212DC5B80051071D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>850D3112212DC5B90051071D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>850D311D212DC5B90051071D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
